body{
	margin: 0px;
	padding: 20px;
}
div[class |= 'box']{
	width: 150px;
	border:1px solid #f00;
	margin: 20px;
}
.box-1{
	height: 120px;
}
.box-2{
	height: 100px;
}
.box-3{
	height: 40px;
}
div.box-4{
	height: 200px;
	border-color:#00f;
}
div.container{
	display: flex;
}
div.container{
	justify-content: space-between;
	align-items: center;
}
@media screen and (max-width: 640px){
	div.container{
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	}
	.box-1{
	 	order: 2; 
	}
	.box-2{
		order: 3;
	}
	.box-3{
		order: 4;
	}
	.box-4{
		order: 1;
	}
}
div.box-5{
	width: 50px;
	height: 100px;
	order: 1;	
	flex-grow: 1;
}
div.box-6{
	width: 100px;
	height: 200px;
	order: 5;
	flex-grow: 1;
}
div.box-7{
	width: 150px;
	height: 300px;
	order: 3;
	flex-grow: 1;
}
div.box-8{
	width: 200px;
	height: 400px;
	order: -1;
	align-self: flex-start;
	flex-basis: 10px;
	flex-grow: 1;
}
div.container_1,div.container_2{
	width: 1000px;
	height: 800px;
	border: 1px solid #00F;
	display: flex;
	justify-content: center;
	align-content: flex-end;
	align-items: flex-end;
}
div.box-9{
	flex-basis: 300px;
	height: 100px;
	flex-shrink: 1;
}
div.box-10{
	flex-basis: 300px;
	height: 200px;
	flex-shrink: 2;
}
div.box-11{
	flex-basis: 300px;
	height: 300px;
	flex-shrink: 3;
}
div.box-12{
	flex-basis: 300px;
	height: 400px;
	flex-shrink: 4;
}
