body{
	margin: 0;
	padding: 0;
	background-color: #eee;
	padding: 20px;
}
.left{
	width: 200px;
	height: 100px;
	border: 1px solid #999;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: #FFFFFF;
	padding: 20px;
	box-sizing: border-box;
}
.middle{
	border: 1px solid #999;
	height: 1000px;
	margin-left: 220px;
	margin-right: 140px;
	background-color: #FFFFFF;
	padding: 20px;
}
.right{
	width: 120px;
	height: 100px;
	border: 1px solid #999;
	float: right;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #FFFFFF;
	padding: 20px;
	box-sizing: border-box;
}