.box{
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
    margin: auto;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top,.bottom{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #fc0;
	position: absolute;
}
.top{
	top:-50px;
	left:-50px;
}
.bottom{
	bottom:-50px;
	right:-50px;
}
/*空心圆*/
/*.top,.bottom{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border:1px solid #fc0;
	position: absolute;
}
.top{
	top:-50px;
	left:-50px;
}
.bottom{
	bottom:-50px;
	right:-50px;
}*/
.content{
	border:1px solid red;
	display: inline-block;
	margin: 0 auto;
}