.btn{
  width: 150px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius:5px;
}
.container div {
  border: 1px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: 10px;
  box-sizing: border-box;
  -webkit-box-flex: 0.5;
  -webkit-flex-grow: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
  background-color: #FFF;
  transition:background-color 100ms ease-in;
}
.container {
  display: flex;
  margin-bottom: 50px;
  border: 1px solid #000;
}
.sub_3 {
  height: 40px;
}
.btn_group{
  width: 200px;
  float: left;
}