html,body{
	margin:0px;
	padding:0px;
	height: 100%;
	font-size: 14px;
	color: #333333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1,h2{
	margin: 0px;
	padding:0px;
	color: #333333;
}
header{
	background-color: rgba(31,114,70,.8);
	height: 350px;
	line-height: 80px;
	box-shadow: 0px 0px 4px #333333;
	color: #FFFFFF;
	min-width: 1200px;
}
.header_container{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.header_container h1{
	position: absolute;
	top: 90px;
	left: 300px;
	font-size: 40px;
	transition : font-size 0.4s;
	color: #FFFFFF;
}
.header_container h1:hover{
	font-size: 45px;
}
.header_container h2{
	position: absolute;
	top: 145px;
	left: 500px;
	color: #FFFFFF;
}
.header_container ul{
	float: right;
	display: inline-block;
	margin:0px;
	padding: 0px;
}
.header_container ul li{
	display: inline-block;
	list-style: none;
	width: 80px;
}
.header_container ul li a{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	width: 80px;
	height: 55px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.header_container ul li a:hover{
	border-bottom: 2px solid #FFFFFF;
}
.current{
	border-bottom: 2px solid #FFFFFF;
}
.container{
	width: 1200px;
	margin:0px auto;
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
}
.task{
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 20px;
}
.task a{
	text-decoration:none;
	color: #888888;
}
.task ul{
	margin:0px;
	padding: 0px;
	margin-left: 20px;
}
.task ul li{
	list-style: none;
	height: 30px;
	line-height: 30px;
}
.task ul li a:hover{
	color:#000000;
}
.task h1{
	padding: 5px;
}
#container{
	width: 960px;
}
/*以下为side-catalog的样式*/
.side-catalog{
	width: 200px;
	position: absolute;
	top: 100px;
    left:960px;
}
dl{
	padding: 0px;
	margin: 0px;
}
dd{
	margin:0px;
	padding:0px;
}
.side-catalog dd{
	height: 45px;
	line-height: 45px;
	border-left:1px solid #CCC;
}
.side-catalog dd span{
	display: inline-block;
	width: 150px;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	font-size: 16px;
}
.side-catalog dd span:hover{
	background-color: #ccc;
	cursor: pointer;
}
em.start{
	position: absolute;
	top: -11px;
	left:-5px;
}
em.end{
	position: absolute;
	bottom: -11px;
	left:-5px;
}
/*side-catalog的样式结束*/